body{
    text-align: center;
    padding-top: 800px;
    margin:0;
  
}

.profile{
 border-radius: 50%;
    margin-bottom: 50px;
    margin-top: 80px;
   width: 200px; 
    height:200px;
}

.menu{
    list-style: none;
    cursor: pointer;
    position: absolute;
    font-family: sans-serif;
    top: 10px;
    right:30px;
    z-index: 10;
    
    }

.links{
    float: left;
    color: antiquewhite;
    padding: 5px;
    font-family:sans-serif;
    font-size: 20px;
}

.links:hover{
    
    background-color: coral;
}

#welcome{
    background: linear-gradient(#f013cb 0%,#4911f0 100%); 
    height:800px;
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    display:table;
    opacity:0.83;
    width: 100%;
    height:100%;
    z-index: 9;
}

.welcome_inner{
    
    display:table-cell;
    position: relative;
    text-align: center;
    vertical-align:middle ;
}

h1{
    font-size: 40px;
    line-height: 1.2;
    font-family: inherit;
    font-weight: 300;
}

#bio{
    text-align: center;
    padding: 50px;
    font-size: 30px;
    }

#name{
    font-size: 30px;
    line-height: 1.2;
   font-family: 'Lobster', cursive;
}

h2{
   font-size: 30px;
    line-height: 1.2;
    font-family: cursive;
    font-weight: 300;
} 

.line{
    height: 6px;
    width: 70px;
    margin: 8px auto;
    background-color: black;
    
}

p{
    max-width: 400px;
    margin: 25px auto;
    font-size: 20px;
    line-height: 1.3;
}

a{
    text-decoration: none;
    font-size: 25px;
    color:blue;
}

.article:hover{
    color: fuchsia;
}

html{
    scroll-behavior: smooth;
}
